<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.TITLE %></title>
  </head>

  <body>
    <div id="sheetData" hidden=""></div>
    <div id="sheetVersion" style="display: none" hidden="">
      [AIV]{version}[/AIV]
    </div>

    <nav>
      <h1><%= htmlWebpackPlugin.options.TITLE %></h1>

      <p>Document Source Version [AIV]{version}[/AIV]</p>
      <p>
        The latest version can be found
        <a
          href="<%= htmlWebpackPlugin.options.LATEST_VERSION_URL %>"
          target="_blank"
          >here</a
        >.
      </p>
      <p>You can update an old document to this version by importing it.</p>
      <button id="btnImport" title="Update an old document">Import</button>
      <input type="file" id="fileImport" accept="text/html" />
      <button id="btnClear" title="Reset the document">Clear</button>
      <button id="btnSave" title="Download the document">Save</button>
      <button id="btnExport" title="Export document as a printable PDF file">
        Print
      </button>
      <button
        id="opt_showInfo"
        class="toggleButton"
        title="Toggle display of the sidebar"
      >
        Show Sidebar
      </button>
      <form><input type="hidden" name="opt_showInfo" value="false" /></form>
      <%= require('html-loader!../project/menu.html') %>
    </nav>

    <nav id="infoPanel"></nav>

    <main id="content">
      <%= require('html-loader!../project/content.html') %>
    </main>
    <div class="pageToolbar">
      <div class="buttonWrapper">
        <button id="btnAdd" title="Add an extra page">+</button>
      </div>
    </div>
  </body>
</html>
