/* 
These are some example stylings. 
You can add more CSS files by importing them in overrides.js 
*/

/* Local image URLs specified in CSS are automatically inlined */
.cover-background-image {
  background: white url("../img/cover.svg") no-repeat center;
  background-size: 100%;
}

.page input {
  padding: 16px;
  font-size: 40px;
  text-align: center;
  display: block;
  margin-left: 20%;
  width: 65%;
  border: none;
  background: transparent;
  font-weight: bold;
  color: brown;
  position: absolute;
}

.page input[name="coverLine1"] {
  top: 256px;
}
.page input[name="coverLine2"] {
  top: 334px;
}
.page input[name="coverLine3"] {
  top: 412px;
}

#infoPanel {
  right: 0;
  width: 25rem;
  position: fixed;
}
