/* 
These are some example stylings. 
You can add more CSS files by importing them in overrides.js 
*/

/* Local image URLs specified in CSS are automatically inlined */
.placeholder-background-image {
  background: url("../img/placeholder.svg") no-repeat, white;
  background-size: cover;
}

#myMenuButton{
  background: url("../img/icons/trash.svg") no-repeat;
}

#infoPanel {
  right: 0;
  width: 25rem;
  position: fixed;
}

.page {
  padding: 3rem;
}

form .quill_field {
  border: 1px solid gray;
  min-width: 80%;
  padding: 1rem;
}

form p {
  text-align: justify;
}

form button,
form label {
  display: block;
  padding: 1rem;
  margin: 0.5rem 0;
}

form label {
  padding-left: 0;
}

form label input {
  margin: 0 1rem;
}
