.cover-background-image {
  background: white url("cover.svg") no-repeat center;
  background-size: 100%;
}

.lh-page input {
  padding: 16px;
  font-size: 40px;
  text-align: center;
  display: block;
  margin-left: 20%;
  width: 65%;
  border: none;
  background: transparent;
  font-weight: bold;
  color: brown;
  position: absolute;
}

.lh-page input[name="coverLine1"] {
  top: 256px;
}
.lh-page input[name="coverLine2"] {
  top: 334px;
}
.lh-page input[name="coverLine3"] {
  top: 412px;
}